body {
    background-color: #202020;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.load {
    width: 100px;
    height: 100px;
    border: 8px solid;
    border-color: #c6c7cb;
    border-radius: 50%;
    border-left-color: #420dd3;
    box-shadow: 0 0 20px #fff;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    to {
        transform: rotate(360deg);
    }
}